*.js linguist-detectable=false
*.css linguist-detectable=false
*.scss linguist-detectable=false
*.sass linguist-detectable=false
*.html linguist-detectable=false
*.htm inguist-detectable=false
*.latte linguist-detectable=false
*.twig linguist-detectable=false
tools/*.phar linguist-vendored
/vendor/ linguist-vendored