master.code-workspace
**/.vscode
**.lock
**/composer.lock
**/vendor/**
**/.well-known
.well-known
**/.well-known/**
.well-known/**
.cache
.env
*.bat
**/desktop.ini
tmp/**
**/node_modules

!vendor/index.php