extends Master

block page
    .col-md-6.card.mr-3
        img(src=product_image, alt="...")
    .col-md-5.card
        h2= product_title

        .row.mt-3.card-body
            b= product_price + '€'
        .row-mt-3.card-body
            label(for="quantity") Kiekis
            input(name="quantity", value=0, type="number")
            button.btn.btn-primary Add To Cart
        .row.mt-3
            .card-body
                label Description
                p= product_description