<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/vendor/css/fontawesome.min.css">
        <link rel="stylesheet" href="/vendor/css/Chart.min.css">
        <link rel="stylesheet" href="/css/dashboard.css">
        <link rel="stylesheet" href="/css/dashboard.extra.css">

        <script src="/vendor/js/Chart.min.js"></script>

        {include '_doc.latte'}

        <title>Dashboard</title>
    </head>

    <body>
        <div class="navbar">
            <ul>
                <li>
                    <button>
                        <i class="fas fa-home"></i>
                        <span>Home</span>
                    </button>
                </li>
            </ul>
        </div>

        {block content}
        {/block}

        <aside>
            <div class="hAside">
                GWM
            </div>

            <nav>
                <ul>
                    <li>
                        <div>
                            <button onclick="window.location='/dashboard'">
                                <i class="fas fa-project-diagram"></i>
                                <span>Dashboard</span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <div>
                            <button onclick="window.location='/dashboard/analytics'">
                                <i class="fas fa-chart-line"></i>
                                <span>Analytics</span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <div>
                            <button onclick="window.location='/dashboard/users'">
                                <i class="fas fa-user"></i>
                                <span>Users</span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <div>
                            <button onclick="window.location='/dashboard/media'">
                                <i class="fas fa-photo-video"></i>
                                <span>Media</span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <div>
                            <button onclick="window.location='/dashboard/articles'">
                                <i class="fas fa-newspaper"></i>
                                <span>Articles</span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <div>
                            <button onclick="window.location='/dashboard/settings'">
                                <i class="fas fa-cogs"></i>
                                <span>Settings</span>
                            </button>
                        </div>
                    </li>
                </ul>
            </nav>
        </aside>

        <script src="/js/dashboard.generated.js"></script>

        {include '_scripts.latte'}
        
    </body>
</html>