<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <link rel="stylesheet" href="/vendor/css/fontawesome.min.css">
        <link rel="stylesheet" href="/vendor/css/Chart.min.css">
        <link rel="stylesheet" href="/css/dashboard.generated.css">
        <link rel="stylesheet" href="/css/dashboard.extra.css">

        <script src="/vendor/js/Chart.min.js"></script>

        {include '_doc.latte'}

        <script type="text/javascript">
        document.addEventListener("DOMContentLoaded", function(event) {
            document.getElementById("drop-click").addEventListener("click", function(e) {
                if(document.getElementById("drop").className === 'fas fa-caret-right') {
                    document.getElementById("drop").className = 'fas fa-caret-down';
                } else {
                    document.getElementById("drop").className = 'fas fa-caret-right';
                }
            })
        })
        </script>

        <title>Dashboard</title>
    </head>

    <body>
        <div class="contents">
            <div class="container-wrapper">
                {block content}
                {/block}
            </div>
        </div>

        <aside>
            <div class="hAside">
                GWM
            </div>

            <nav>
                <label for="nav-tab-core" class="nav-tab">CORE</label>

                <ul id="nav-tab-core">
                    <li>
                        <div>
                            <button id="drop-click">
                                <i class="fas fa-project-diagram"></i>
                                <span>Dashboard</span>
                                <span><i id="drop" class="fas fa-caret-right"></i></span>
                            </button>
                            <div class="dropdown">
                                <ul>
                                    <li>...</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <button onclick="window.location='/dashboard/analytics'">
                                <i class="fas fa-chart-line"></i>
                                <span>Analytics</span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <div>
                            <button onclick="window.location='/dashboard/users'">
                                <i class="fas fa-user"></i>
                                <span>Users</span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <div>
                            <button onclick="window.location='/dashboard/media'">
                                <i class="fas fa-photo-video"></i>
                                <span>Media</span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <div>
                            <button onclick="window.location='/dashboard/articles'">
                                <i class="fas fa-newspaper"></i>
                                <span>Articles</span>
                            </button>
                        </div>
                    </li>
                    <li>
                        <div>
                            <button onclick="window.location='/dashboard/settings'">
                                <i class="fas fa-cogs"></i>
                                <span>Settings</span>
                            </button>
                        </div>
                    </li>
                </ul>

                <label for="nav-tab-core" class="nav-tab">COMMERCE</label>

                <ul id="nav-tab-core">
                    <li>
                        <div>
                            <button>
                                <i class="fas fa-shopping-cart"></i>
                                <span>Products</span>
                                <span><i class="fas fa-caret-right"></i></span>
                            </button>
                            <div class="dropdown">
                                <ul>
                                    <li>...</li>
                                </ul>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
        </aside>

        <script src="/js/dashboard.generated.js"></script>

        {include '_scripts.latte'}
        
    </body>
</html>