{layout 'basis.latte'}

{block content}
<div class="wcm-row-p">
    <div class="wcm-col-12">
        <div class="panel wcms-panel">
            <div class="wcms-toolbar">
                <div class="wcms-title">Discounts</div>
            </div>

            <div class="panel redirect-fail">
                Not implemented yet.
            </div>
        </div>
    </div>
</div>
{/block}