<!DOCTYPE html>
html()
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        link(rel="stylesheet", href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
        link(rel="stylesheet", href="build/css/adminlte.min.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700")
        title GWM | Dashboard
    body(class="hold-transition login-page")
        div(class="login-box")
            div(class="login-logo") Something
            div(class="card")
                div(class="card-body login-card-body")
                    p(class="login-box-msg") Sign in to start your session
                    

        script(src="build/js/jquery-3.5.1.min.js")
        script(src="build/js/bootstrap.bundle.js")
        script(src="build/js/adminlte.min.js")
        script(src="build/js/demo.js")