<div class="widget">
    <div class="grid-item">
        <div class="grid-header">
            <i class="fas fa-cubes"></i>
            <span>Produktai</span>
        </div>
        <div class="toolbar">
            <ul>
                <li>
                    <input type="text" placeholder="Produktų paieška...">
                </li>
                <li class="toolbar-btn">
                    <button class="bold">
                        <i class="fas fa-cart-plus" title="Pridėti Produktą"></i>
                    </button>
                </li>
                <li class="toolbar-btn">
                    <button class="bold">
                        <i class="fas fa-sort-alpha-up em-1" title="Rūšiuoti Z-A"></i>
                    </button>
                </li>
                <li class="toolbar-btn">
                    <button class="bold">
                        <i class="fas fa-sort-alpha-down em-1" title="Rūšiuoti A-Z"></i>
                    </button>
                </li>
                <li class="toolbar-btn">
                    <button class="bold">
                        <i class="fas fa-grip-horizontal" title="Tinklelio Rodinys"></i>
                    </button>
                </li>
                <li class="toolbar-btn">
                    <button class="bold">
                        <i class="fas fa-list" title="Sąrašo Rodinys"></i>
                    </button>
                </li>
            </ul>
        </div>
        <div class="pd-1">
            <table>
                <tr>
                    <th><input type="checkbox"></th>
                    <th>
                        <i class="fas fa-image"></i>
                        <span>Nuotrauka</span>
                    </th>   
                    <th>
                        <i class="fas fa-heading"></i>
                        <span>Pavadinimas</span>
                    </th>
                    <th>
                        <i class="fas fa-money-bill-wave"></i>
                        <span>Kaina</span>
                    </th>
                    <th>
                        <i class="fas fa-calculator"></i>
                        <span>Kiekis</span>
                    </th>
                    <th>
                        <i class="fas fa-project-diagram"></i>
                        <span>Būsena</span>
                    </th>
                    <th><i class="fas fa-toolbox"></i>
                        <span>Veiksmai</span>
                    </th>
                </tr>
                </Products>
            </table>
        </div>
    </div>
</div>