extends Master

block page
    a(href=url) Paysera Pay
    .buttons

block scripts
    script(src="https://www.paypal.com/sdk/js?client-id=ATURh2AJBwVLmHUCSOG5MyrpOlLpuuJeSbn6BC1_dmg9z4ZxdV2rTHew2Z_yhqGiA6XPawfa9H0iJ-Vf")
    script paypal.Buttons().render('.buttons');