extends Master

block page
    .col-lg-12
        h1= "Register"
        form(method="POST")
            .form-group
                label(for="username") Username
                input.form-control(name="username" type="text")
            .form-group
                label(for="email") Email
                input.form-control(name="email" type="email")
            .btn-group
                button.btn.btn-success(type="submit") Register
                button.btn.btn-secondary Forgot Password