<div class="widget-grid" style="grid-template-columns: 2fr 1fr 1fr !important;">
    <div class="grid-item">
        <div class="grid-header">
            <span>Redaktorius 
                <span class="round-1">{ Lang }</span>
            </span>
        </div>
        { Template }
        <div class="grid-header">
            
        </div>
    </div>
    <div class="grid-item">
        <div class="grid-header">
            Temų sąrašas
        </div>
        { Themes }
    </div>
    <div class="grid-item">
        <div class="grid-header">
            Šablonų sąrašas
        </div>
        { Templates }
    </div>
</div>

<div class="widget">
    <div class="grid-item">
        <div class="grid-header">
            Šablonas
        </div>
<iframe width="100%" height="750px" src="/"></iframe>
    </div>
</div>