<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Geedium programming services and software products">
    <meta name="keywords" content="geedium, innovative, products, php, web, website, websites, cms, wcms, programming, software, services">
    <meta property="og:title" content="Geedium" />
    <meta property="og:type" content="software" />
    <meta property="og:url" content="https://www.geedium.com/" />
    <meta property="og:image" content="" />

    <link rel="shortcut icon" href="ico/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />

    <script src="/vendor/babel/js/babel.min.js"></script>
    <script src="/vendor/react/js/react.production.min.js"></script>
    <script src="/vendor/react/js/react-dom.production.min.js"></script>

    <script src="/vendor/material-ui/js/material-ui.production.min.js"></script>

    <script>
        const articles = (`
            /* articles */
        `);
    </script>

    <script type="module" src="/js/babel.js"></script>

    <title>Geedium - Programming Services And Software Products</title>
</head>

<body>
    <noscript>Javascript must be enabled.</noscript>
    <div id="root">
        <div style="display: none;">
    	  <h1>Geedium - Programming Services And Software Products </h1>
          <pre>/* articles */</pre>
          <ul>
            <li>
               Products
               <ul>
                 <li><a href="/dashboard/">GWM</a></li>
               </ul>
            </li>
            <li>
               GWM Demo
               <ul>
                 <li><a href="/store/">GWM Demo Store</a></li>
               </ul>
            </li>
            <li>
               General
               <ul>
                 <li><a href="/forum/">Forum</a></li>
               </ul>
            </li>
            <li>
               Services
               <ul>
                <li><a href="http://kompiuteriu-programavimo-veikla-j-62-01.nace-rev2.info/LT/">J.62.01</a></li>
               </ul>
            </li>
          </ul>
          <p>Title contains Geedium, Programming, Services, And, Software, Products. Keywords: geedium, innovative, products, php, web, website, websites, cms, wcms, programming, software, services.
          <p>This is a HTML 5 page. Site theme gets content from javascript files. <b>Crawlers do not execute javascript.</b></p>
          <p>Crawlers look for most useful information on site and expect <b>at least 250 words per page</b>. More information on page means site could be found easier. Strong pieces of content can help search engines and social media and those pieces are listed above in pre-formatted text area.</p>
          <p><i>Summary:</i> paragraphs with words improves crawling and <b>SEO</b> score.</p>
	  <p>Your browser does not support <b>Babel</b> or error occuried. Please consider using newer browser.</p>
          <span class="text-muted">&copy; Copyright Geedium</span>
        </div>
    </div>
</body>

</html>