<style>

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

</style>

<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<div class="widget">
    <div class="grid-item" style="overflow: auto; max-height: 1000px;">
        <div class="grid-header">Product Area</div>
        <div class="grid-toolbar">
          <button class="btn" onClick="Product_Update(this);" data-id="{{ product.id }}"><i class="fas fa-save"></i>Save</button>
        </div>
        
        <div class="tab">
            <button class="tablinks">Description</button>
        </div>

        <div id="General" style="overflow: auto; z-index: 99;">
          <label>Name</label>
          <input type="text" value="{{ product.name }}" id="product-name" placeholder="Product Name">
          <label>Price</label>
          <input type="number" value="{{ product.price }}" id="product-price" placeholder="Product Price">
          <hr>
        </div>

        <div id="Description" class="mt-3" style="overflow: auto; z-index: 99;">
            <h3>Description</h3>
            <div id="editor">
                {{ product.html }}
            </div>
        </div>
    </div>
</div>

<script>
    function Product_Update(obj) {
    var product_id = $(obj).data('id');
    var product_name = $('#product-name').val();
    var product_price = $('#product-price').val();
    var product_description = quill.root.innerHTML;
    
    $.ajax
    ({
        async: true,
        cache: false,
        data: {
            "product_id": product_id,
            "product_name": product_name,
            "product_price": product_price,
            "product_description": product_description
        },
        type: 'POST',
        success: function(result)
        {
            location.reload();
        }
    })
}
</script>

<!-- Initialize Quill editor -->
<script>
var toolbarOptions = [
  ['bold', 'italic', 'underline', 'strike'],        // toggled buttons
  ['blockquote', 'code-block'],
  ['image'],

  [{ 'header': 1 }, { 'header': 2 }],               // custom button values
  [{ 'list': 'ordered'}, { 'list': 'bullet' }],
  [{ 'script': 'sub'}, { 'script': 'super' }],      // superscript/subscript
  [{ 'indent': '-1'}, { 'indent': '+1' }],          // outdent/indent
  [{ 'direction': 'rtl' }],                         // text direction

  [{ 'size': ['small', false, 'large', 'huge'] }],  // custom dropdown
  [{ 'header': [1, 2, 3, 4, 5, 6, false] }],

  [{ 'color': [] }, { 'background': [] }],          // dropdown with defaults from theme
  [{ 'font': [] }],
  [{ 'align': [] }],

  ['clean']                                         // remove formatting button
];
var quill = new Quill('#editor', {
    modules: {
        toolbar: toolbarOptions
    },
    theme: 'snow'
});
</script>