<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/css/gwm.min.css">
        <link rel="stylesheet" href="/vendor/css/fontawesome.min.css">
        <link rel="stylesheet" href="/css/dashboard.generated.css">
        <title>Dashboard | Login</title>
        <style>body, html { position:fixed; overflow:hidden; left:0; right:0; top:0; bottom:0; background: rgb(243, 243, 255); }</style>
        <style>
            .google-button {
            height: 40px;
            border-width: 0;
            background: white;
            color: #737373;
            border-radius: 5px;
            white-space: nowrap;
            box-shadow: 1px 1px 0px 1px rgba(0,0,0,0.05);
            transition-property: background-color, box-shadow;
            transition-duration: 150ms;
            transition-timing-function: ease-in-out;
            padding: 0;
            &:focus,
            &:hover {
            box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
            }
            &:active {
            background-color: #e5e5e5;
            box-shadow: none;
            transition-duration: 10ms;
            }
            }
            .google-button__icon {
            display: inline-block;
            vertical-align: middle;
            margin: 8px 0 8px 8px;
            width: 18px;
            height: 18px;
            box-sizing: border-box;
            }
            .google-button__icon--plus {
            width: 27px;
            }
            .google-button__text {
            display: inline-block;
            vertical-align: middle;
            padding: 0 24px;
            font-size: 14px;
            font-weight: bold;
            font-family: 'Roboto',arial,sans-serif;
            }
        </style>
        <script src="/js/gwm.min.js"></script>
    </head>

    