.GWMab56f51b67 {
    height: 40px;
    border-width: 0;
    background: #ffffff;
    color: #737373;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 1px 1px 0px 1px rgba(0, 0, 0, 0.05);
    transition-property: background-color, box-shadow;
    transition-duration: 150ms;
    transition-timing-function: ease-in-out;
    padding: 0;
  
    &:focus, &:hover {
      box-shadow: 1px 4px 5px 1px rgba(0,0,0,0.1);
    }
  
    &:active {
      background-color: #e5e5e5;
      box-shadow: none;
      transition-duration: 10ms;
    }
}

.GWM062c57bf81 {
  display: inline-block;
  vertical-align: middle;
  margin: 8px 0 8px 8px;
  width: 18px;
  height: 18px;
  box-sizing: border-box;
}

