<!DOCTYPE html>
html(lang="en")
    head
        style(type="text/css").
            html, body {
                padding: 0;
                margin: 0;
                height: 100vh;
                overflow-x: hidden;
            }

            body {
                background: #4d555e;
            }

            aside {
                width: 350px;
                position: absolute;
                left: 0;
                bottom: 0;
                top: 0;
                background: #6a7884;
            }

            section {
                position: absolute;
                display: block;
                left: 350px;
                right: 0;
                bottom: 0;
                top: 0;
                padding: 2px;
            }

            .container {
                background: #a4a4a4;
                position: relative;
                display: block;
            }

        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Dashboard
    body
        section
            div(class="container")
                
        aside
            p Composer is enabled.
            