<div class="widget">
    <div class="grid-item">
        <div class="grid-header">
            Products
        </div>
        <div class="btn-group">
            <button id="addProduct"><i class="fas fa-cart-plus"></i><span>Add Product</span></button>
            <button alt="Sort Up"><i class="fas fa-sort-alpha-up"></i></button>
            <button alt="Sort Down"><i class="fas fa-sort-alpha-down"></i></button>
            <button alt="Square View"><i class="fas fa-grip-horizontal"></i></button>
            <button alt="List View"><i class="fas fa-list"></i></button>
        </div>

        { products }
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/quill/1.3.7/quill.js"></script>

<script>
    function Product_Preview(obj) {
    var product_id = $(obj).data('id');
    var page_id = 11; 
    
    $.ajax
    ({
        async: true,
        cache: false,
        data: {
            "id": page_id,
            "product_id": product_id
        },
        type: 'PATCH',
        beforeSend: function() {
            $('#contentUpdate').css('pointer-events', 'none');
        },
        success: function(result)
        {
            $('#contentUpdate').html(result);
            $('#contentUpdate').css('pointer-events', 'auto');
        },
        error: function(error) {
            $('#contentUpdate').html(error);
            $('#contentUpdate').css('pointer-events', 'auto');
        }
    })
}
</script>

<script>
$('#addProduct').click(function() 
{    
    $.ajax
    ({
        async: true,
        cache: false,
        data: {
            "action": "add-product"
        },
        type: 'PUT',
        success: function(result)
        {
            $.ajax
            ({
                async: true,
                cache: false,
                data: {
                    "id": 9
                },
                type: 'PATCH',
                beforeSend: function() {
                    $('#contentUpdate').css('pointer-events', 'none');
                },
                success: function(result)
                {
                    $('#contentUpdate').html(result);
                    $('#contentUpdate').css('pointer-events', 'auto');
                },
                error: function(error) {
                    $('#contentUpdate').html(error);
                    $('#contentUpdate').css('pointer-events', 'auto');
                }
            })
        }
    })
})
</script>