<div class="widget">
    <div class="grid-item" style="min-height: 315px;">
        <div class="grid-header">
            Security
        </div>
        <div class="container-box">
            <div class="box">
                <div class="form-group">
                    <input class="form-item" type="checkbox" checked disabled>
                    <h4 class="form-item">Enforce HTTP Authentication Admin Access</h4>
                </div>
                It is possible to use the header() function to send an<br/>
                "Authentication Required" message to the client browser<br/>
                causing it to pop up a Username/Password input window. Once<br/>
                the user has filled in a username and a password, the URL<br/>
                containing the PHP script will be called again with the<br/>
                predefined variables PHP_AUTH_USER, PHP_AUTH_PW, and<br/>
                AUTH_TYPE set to the user name, password and authentication<br/>
                type respectively. These predefined variables are found in<br/>
                the $_SERVER array. Both "Basic" and "Digest" (since PHP<br/>
                5.1.0) authentication methods are supported. See the<br/>
                header() function for more information.
            </div>

            <button class="form-btn mt-3">Apply</button>
        </div>  
    </div>
</div>