<div class="widget">
    <div class="grid-item">
        <div class="grid-header">
            <i class="fas fa-users"></i>
            <span>Vartotojai</span>
        </div>
        <div class="toolbar">
            <ul>
                <li>
                    <label class="em-1 normal">Įrašai</label>
                    <select name="entries">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="40">40</option>
                    </select>
                </li>
                <li class="toolbar-btn">
                    <button class="bold">
                        <i class="fas fa-file-export" title="Eksportuoti"></i>
                    </button>
                </li>
                <li class="toolbar-btn">
                    <button>
                        <i class="bold">
                            <i class="fas fa-user-plus" title="Pridėti Vartotoją"></i>
                        </i>
                    </button>
                </li>
            </ul>
        </div>
        <div class="pd-1">
            <table>
                <tr>
                    <th><input name="user" type="checkbox"></th>
                    <th>Paveikslėlis</th>
                    <th>Slapyvardis</th>
                    <th>Paštas</th>
                    <th>Įstojo (UTC)</th>
                    <th>Paskutinis Atnaujinimas</th>
                    <th>Rolė</th>
                    <th>Veiksmai</th>
                </tr>
                </User>
            </table>
        </div>
    </div>
</div>