<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="GWM Dashboard">

    <link rel="stylesheet" href="/css/gwm.min.css">
    <link rel="stylesheet" href="/vendor/css/bootstrap.min.css">

    <script src="/vendor/js/jquery-3.5.1.min.js"></script>
    <script src="/js/gwm.min.js"></script>

    {block styles}
    {/block}

    {block scripts}
    {/block}

    <script type="text/javascript">
      document.addEventListener("DOMContentLoaded", function(event) {
            document.getElementById("toggle").addEventListener("click", function(e) {
                var navbar = document.getElementById("color-swap")
                if(navbar.className === 'navbar navbar-expand-lg navbar-dark bg-dark mb-3') {
                    navbar.className = 'navbar navbar-expand-lg navbar-light bg-light mb-3';
                } else {
                    navbar.className = 'navbar navbar-expand-lg navbar-dark bg-dark mb-3';
                }
            })
      });
    </script>

    <title>Homepage</title>
</head>

<body>
    <nav id="color-swap" class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
        <a class="navbar-brand" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/auth">Login</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/out">Logout</a>
                </li>
            </ul>

            <ul class="navbar-nav">
                <li class="nav-item">
                    <button id="toggle" class="btn nav-link">Toggle</button
                </li>
            </ul>
        </div>
    </nav>

    <div class="row">
        <div class="col-md-3">
            <div class="container">
                <div class="card">
                    <div class="card-header">Login</div>
                    <div class="card-body">
                        
                    </div>
                </div>
            </div>    
        </div>
        <div class="col-md-6">
            <div class="container-fluid no-gutters">
                {block content}
                {/block}

                {block tables}    
                {/block}

                {block articles}
                {/block}
            </div>    
        </div>
        <div class="col-md-3">
            <div class="container">
                <div class="card">
                    <div class="card-header">Widget</div>
                    <div class="card-body">
                        ...
                    </div>
                </div>
            </div>    
        </div>
    </div>

    <script src="/vendor/js/bootstrap.min.js"></script>

    {block afterscripts}
    {/block}
</body>

</html>