<html>

<head>
    <link rel="stylesheet" href="vendor/css/bootstrap.min.css">
</head>

<body>
    <h1>Hello world!</h1>

    {block articles}
        
    {/block}

    <script src="vendor/js/bootstrap.min.js"></script>
</body>

</html>